@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-citizen: "Citizen", sans-serif;
  --font-elza: "Elza", sans-serif;
  --font-elza-text: "elza-text", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Citizen";
  src: url("/fonts/Citizen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Elza";
  src: url("/fonts/elza-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}